@import "../../assets/fonts/fonts";
@import "../../assets/colors";

.weather-wrapper {
  margin: 50px auto;
  color: $green;
  text-align: center;
  font-family: $caviarDreams;

  .weather-location {
    color: $pink;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .weather-card {
    display: inline-block;
    margin: 0 15px;

    .weather-temp {
      font-size: 30px;
      display: flex;
      align-items: center;
    }

    .weather-name {
      font-size: 20px;
    }
  }
}
