@import "../../assets/fonts/fonts";
.weather-wrapper {
  margin-top: 50px;
  color: lightseagreen;
  text-align: center;
  font-family: $caviarDreams;

  .weather-temp {
    font-size: 30px;
    display: inline-flex;
    align-items: center;
  }

  .weather-name {
    font-size: 20px;
    color: rosybrown;
  }
}
